altgraph==0.17.4
aniso8601==9.0.1
appnope==0.1.4
asgiref==3.8.1
asttokens==2.4.1
attrs==24.2.0
blinker==1.8.2
branca==0.8.0
bullet==2.2.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorist==1.7.3
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.5
decorator==5.1.1
Django==5.1
dnspython==2.6.1
executing==2.0.1
filelock==3.15.4
Flask==3.0.3
flask-restx==1.3.0
flask-swagger-ui==4.11.1
folium==0.17.0
fonttools==4.53.1
getkey==0.6.5
gmpy2==2.2.1
googlemaps==4.10.0
gpx-converter==2.1.0
gpxpy==1.6.2
idna==3.7
image==1.5.33
importlib_resources==6.4.3
ipykernel==6.29.5
ipython==8.26.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
legendary-gl==0.20.34
Levenshtein==0.25.1
line_profiler==4.1.3
macholib==1.16.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
memory-profiler==0.61.0
mpmath==1.3.0
mysql-connector-python==9.0.0
nest-asyncio==1.6.0
networkx==3.4.1
numpy==2.1.0
openrouteservice==2.3.3
openvino==2024.4.1
openvino-telemetry==2024.1.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pick==2.3.2
pillow==11.0.0
pip-review==1.3.0
platformdirs==4.2.2
plotly==5.23.0
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pybind11==2.13.6
pycparser==2.22
pygbag==0.9.2
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pymongo==4.8.0
pyparsing==3.1.2
PyQt6==6.7.1
PyQt6-3D==6.7.0
PyQt6-Charts==6.7.0
PyQt6-DataVisualization==6.7.0
PyQt6-NetworkAuth==6.7.0
PyQt6-WebEngine==6.7.0
PyQt6_sip==13.8.0
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
pytz==2024.1
pyzmq==26.1.1
rapidfuzz==3.9.6
raylib==5.0.0.3
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.20.0
scipy==1.14.1
seaborn==0.13.2
setuptools==75.2.0
six==1.16.0
sorting-visualizer==1.0
SQLAlchemy==2.0.32
sqlparse==0.5.1
stack-data==0.6.3
sympy==1.13.2
tabulate==0.9.0
TBB==0.2
tenacity==9.0.0
tk==0.1.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vega-datasets==0.9.0
wcwidth==0.2.13
Werkzeug==3.0.3
wheel @ file:///opt/homebrew/Cellar/python%403.12/3.12.7_1/libexec/wheel-0.44.0-py3-none-any.whl#sha256=c01326144883c50263d6967d1145640f3bbc8dfab32c2cbe817ef61d7a810219
xyzservices==2024.9.0
